*{
    background-color: crimson;
    font-family: Tahoma;
    margin: 0;
}

.banner{
    height: 370px;
    color: white;
    width: 100%;
    text-align: center;
}
.mecze{
    display: flex;
}
.block{
    color: white;
    text-align: center;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    flex: fit-content;
}

.block:hover{
    border: 1px solid white;
}

.main{
    background-color:whitesmoke;
    height: 50px;
}

.left{
    background-color: whitesmoke;
    width: 70%;
    height: 230px;
}

.right{
    background-color: whitesmoke;
    width: 30%;
    height: 230px;
}

h2{
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
}