body{
    font-family: Georgia;
    margin: 0 0;
}

.left{
    background-color: maroon;
    color: white;
    height: 600px;
    width: 30%;
    float: left;
}

.right{
    background-color: maroon;
    color: white;
    height: 600px;
    width: 70%;
    overflow: hidden;
    float: left;
}

.footer{
    background-color: dimgray;
    color: white;
    width: 100%;
    float: left;
}

p{
    padding: 10px;
}

img{
    padding: 10px;
    border: 1px solid;
    border-color: white;
}

#indigo{
    background-color: indigo;
}

#steelblue{
    background-color: steelblue;
}

#olive{
    background-color: olive;
}

